# Branches that trigger a build on commit
trigger:
- ide
- vs16.*-ide

jobs:
- job: Windows_Desktop
  variables:
    major: 1
    nugetVersion: $[counter(variables['major'], 0)]
  pool:
    vmImage: windows-latest
  steps:
    - task: NuGetToolInstaller@1
      displayName: Download latest NuGetCommand
      inputs:
        checkLatest: true
    - script: eng/cibuild.cmd -configuration Release -prepareMachine /p:DotNetUseShippingVersions=true
      displayName: Build
    - task: PublishBuildArtifacts@1
      displayName: Publish Logs
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)\artifacts\log\Release'
        ArtifactName: 'Windows Desktop Release' 
        publishLocation: Container
      continueOnError: true
      condition: not(succeeded())
    - task: MSBuild@1
      displayName: Copy files to nuget staging folder
      inputs:
        solution: Copy.proj
        msbuildArguments: /bl:artifacts\log\Release\Copy.binlog
    - task: NuGet@0
      displayName: Create the nuget package
      inputs:
        command: pack
        arguments: roslyn.nuspec -OutputDirectory artifacts -Version 1.0.$(nugetVersion)
    - task: NuGetCommand@2
      displayName: 'NuGet push'
      inputs:
        command: 'push'
        packagesToPush: 'artifacts\*.nupkg'
        nuGetFeedType: 'internal'
        publishVstsFeed: 'd4d3e0b6-61b8-4b0e-b7ca-920ebde70fa1/a4bf57e8-5bf0-4933-b3bc-7033eff59881'